@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --bg-primary: #1B1B1E;
  --bg-secondary: #26262C;
  --bg-tertiary: #2c2c31;
  --text-primary: linear-gradient(to right, #F4442C, #51f369 100%);
  --links: #ADD5F2;
  --sub-text: #A0A0A0;
}
 /* global scrollbar srtyles */
::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
  border-radius: 5px; /* Set the border radius */
}

/* Define a custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
  border-radius: 5px; /* Set the border radius */
}

/* Track styles */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2C2C32; /* Set the track color to black */
  border-radius: 5px; /* Set the border radius */
}

/* Handle styles */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gradiant-orange, linear-gradient(90deg, #F4442C 0%, #F69C08 100%));
  border-radius: 5px; /* Set the border radius */
}

/* css for the collapisble */
.custom-collapse {
  transition: height 0.3s ease;
}
.gradient-border-left-green::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15px;
  /* Adjust this value to change the border width */
  background: linear-gradient(270deg, #1FDB00 21.01%, #107500 99.99%);
  opacity: 0.4;
}

.gradient-border-left-blue::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15px;
  /* Adjust this value to change the border width */
  background: var(--adfdafd, linear-gradient(270deg, #0016DB 21%, #000575 100%));
  opacity: 0.4;
}

.gradient-border-left-red::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15px;
  /* Adjust this value to change the border width */
  background: linear-gradient(270deg, #DB0000 21%, #750000 100%);

  opacity: 0.4;
}

.gradient-text {
  background-image: linear-gradient(to right, #F4442C, #F69C08);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
  font-weight: bold;
}

.gradient-text-green {
  background: var(--lol, linear-gradient(180deg, #1FDB00 21%, #107500 100%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
  font-weight: bold;
}

.gradient-text-red {
  background: var(--lol-r, linear-gradient(180deg, #DB0000 55.6%, #750000 100%, #9B0000 100.01%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: fit-content;
  font-weight: bold;
}

.gradient-border {
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #F4442C, #F69C08);
}
.gradient-border-full {
  border: 1px solid;
  border-radius: 20px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #F4442C, #F69C08);
}

.gradient-t-border {
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #F4442C, #F69C08);
}
.gradient-b-border {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #F4442C, #F69C08);
}

.gradient-bg {
  background-image: linear-gradient(to right, #F4442C, #F69C08);
}
.gradient-bg-black {
  background-image: linear-gradient(to right, #26262C,#2c2c31);
}
.gradient-bg-opacity {
  background-image: linear-gradient(to right, rgba(244, 68, 44, 0.5), rgba(246, 156, 8, 0.5));
}


.global-padding {
  padding-right: 70px;
  padding-left: 70px;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.borderr {
  border: 2px solid red;
}